
            *{
                margin: 0;
                padding: 0;
            }
            
            .jain {
                height: 15px;
                width: 10px;
                cursor: pointer;
                background-color: #356190c6;
                border-radius: 50px;
            }
            
            .sm {
                padding: 5px;
                margin: 10px;
                text-align: center;
                height: 40px;
            }
            
            body {
                width: 100%;
                margin: 0;
                padding: 0;
                background-color: rgba(22, 152, 102, 0.7);
            }
            
            .bharat {
                gap: 2px;
            }
            
            .footer {
                height: 200px;
            }
            
            .pt-10 {
                margin-bottom: 33px;
            }
           
            @media only screen and (max-width: 600px) {
                 :host,
                 :body{
                    width: fit-content;
                }
                .pt-10 {
                    margin-bottom: 33px;
                }
            }
