            .ke {
                background-color: green;
                width: auto;
                padding: 5px;
                margin: 5px;
            }
            
            .s {
                margin: 8px;
                color: aqua;
            }
            
            .jain {
                text-align: center;
            }
            
            .info {
                text-align: center;
                background-color: blue;
            }
            
            * {
                margin: 0;
                padding: 0;
            }
            
            .jain {
                height: 15px;
                width: 10px;
                background-color: #356190c6;
                border-radius: 50px;
                text-align: center;
                margin: 12px;
                line-height: 10px;
                /* box-shadow: 1px 4px 2px 2px #dcdde1; */
            }
            
            .sm {
                padding: 5px;
                margin: 10px;
                text-align: center;
                height: 40px;
            }
            
            body {
                overflow-x: hidden;
                background-color: rgba(22, 152, 102, 0.7);
            }
            
            .bharat {
                height: 720px;
                gap: 2px;
            }
            
            .footer {
                height: 200px;
            }
            
            .pt-10 {
                margin-bottom: 33px;
            }
            
            @media only screen and (max-width:600px) {
                 :host,
                 :root {
                    width: fit-content !important;
                }
                .pt-10 {
                    margin-bottom: 33px;
                }
                .text-white {
                    --tw-text-opacity: 1;
                    color: rgb(255 255 255 / var(--tw-text-opacity));
                    display: -webkit-box !important;
                    margin-left: 19px;
                }
            }
            /* @media only screen and (max-width: 600px) {
                 :host,
                 :root {
                    width: fit-content;
                }
                .pt-10 {
                    margin-bottom: 33px;
                }
            } */